html,
body,
body > .container {
  height: 100%;
}

body {
  padding-top: 3.5rem;
  transition: opacity 0.3s;
  &.app-rendered {
    opacity: 1;
  }
  > .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
